<div class="p-4">
  <h4 class="fst-italic">Elsewhere</h4>
  <ol class="list-unstyled">
    <li><a href="https://github.com/rafaelameilda" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/rafael-almeida-lara-306b7218a/" target="_blank">Linkedin</a></li>
  </ol>
</div>
